body {
  background-color: #eeeeee;
}

.wms-a-FORM {
  margin-bottom: 20px;
}

#wms-a-INPUTS {
  display: inline-flex;
}

#wms-a #layer-GROUP {
  width: 400px;
  margin-right: 20px;
}

#wms-a #style-GROUP {
  width: 400px;
}

.comt-FORM {
  font-style: italic;
  font-family: serif;
  margin-bottom: 20px;
}

#comt-LABEL {
  color: blue;
}

#comt #project-GROUP {
  width: 300px;
}

.wms-b-FORM {
  font-weight: bold;
  font-family: monospace;
  background-color: black;
  padding: 20px;
  border-radius: 40px;
  color: white;
}